@import url('https://fonts.googleapis.com/css2?family=Allura&family=Fredericka+the+Great&display=swap');
.App {
  text-align: center;
  font-family: 'Fredericka the Great', cursive; 
}

.info{
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  width: fit-content;
}
.mainImg {
  width: 300px;
  border-radius: 100px;
  padding-bottom: 10px;
}
.pic{
  border-radius: 200px;
  width: 100px;
  height: 100px
}

.button {
  border-radius: 3px;
  border: 1px solid black;
  font-family: 'Fredericka the Great', cursive; 
  font-size: 12pt;
  margin: 5px;
}
.button-head {
  border-radius: 3px;
  border: 1px solid black;
  font-family: 'Fredericka the Great', cursive; 
  font-weight: bold;
  font-size: 12pt;
  margin: 5px;
}
h1{
  margin: 0;
}
.profile {
  display: flex;
  flex-direction: column;
}
label{
  display: flex;
}
.content {
  margin-top: 250px;
}
.header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: goldenrod;
  height: 200px;

}
.header-container {
  width: 100vw;
  position: fixed;
  top: 0;
}
.head-right{
 margin-right: 25px;
 text-align: right;
}
.head-left{
  margin-left: 25px;
  
}